<!DOCTYPE html>
<html>
  <head>
    <title>{{title}} - Travlr Getaways</title>
    <link rel='stylesheet' href='css/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  </head>
  <body>
    <div id="background">
		  <div id="page">
        {{> header}}
        <div id="contents">
          {{{body}}}
        </div>
      </div>
      {{> footer}}
    </div>
    <script type="text/javascript">
      $(document).ready(() => {
        // Update active nav bar item
        $(".selected").removeClass("selected");
        $(".nav-" + "{{title}}".toLowerCase()).addClass("selected");

        $(".nav-item.active").removeClass("active");
        $(".nav-" + "{{title}}".toLowerCase()).addClass("active");

        // Update copyright year
        const date = new Date();
        const year = date.getFullYear();
        $(".year").text(year);
      });
    </script>
  </body>
</html>
