<div class="box">
	<div>
		<div class="body">
			<h1>Meals</h1>
			<ul id="foods">
				{{#each mealList}}
				<li>
					<h2><a href="/meals">{{this.header_name}}</a></h2>
					<div class="infos">
						<a href="/meals"><img src="images/{{this.image}}" alt="Img" height="169" width="780"><span class="cover"></span></a>
						<p>
							<span>{{this.name}}</span> {{this.description}}
						</p>
					</div>
				</li>
				{{/each}}
			</ul>
		</div>
	</div>
</div>