<div class="box">
	<div>
		<div class="body">
			<h1>Rooms</h1>
			<ul id="rooms">
				{{#each roomList}}
				<li>
					<a href="/rooms"><img src="images/{{this.image}}" alt="Img"></a>
					<h2><a href="/rooms">{{this.name}}</a></h2>
					<p>
						{{this.description}}
					</p>
					<span class="rate">Rate: {{{this.price}}} / Day</span>
				</li>
				{{/each}}
			</ul>
		</div>
	</div>
</div>